In [29]:
import pandas as pd
import re 

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException # mudar de paginas

In [41]:
service = Service()

options= webdriver.ChromeOptions()

driver =webdriver.Chrome(service=service, options=options)

In [42]:
max_pages = 5
page = 1

titleList =[]
stockList=[]
priceList=[]
genderList=[]

while page <= max_pages:
    url = f'https://books.toscrape.com/catalogue/page-{page}.html'
    driver.get(url)

    elementos = driver.find_elements(By.CSS_SELECTOR, "ol.row a")

    for i in range(0,len(elementos),2):
        elemento = elementos[i]
        elemento.click()

        title = driver.find_element(By.TAG_NAME, 'h1').text
        titleList.append(title)

        texto_stock = driver.find_element(By.CLASS_NAME, 'instock').text 
        numero_stock = int(re.search(r'\d+', texto_stock).group())
        stockList.append(numero_stock)

        texto_price =driver.find_element(By.CLASS_NAME, 'price_color').text 
        numero_price = int(re.search(r'\d+', texto_price).group())
        priceList.append(numero_price)

        links = driver.find_elements(By.CSS_SELECTOR, "ul a") # home | books | poetry
        gender=links[2].text
        genderList.append(gender)

        driver.back()

    page += 1

driver.close()

In [43]:
df= pd.DataFrame({'Title':titleList, 'Stock':stockList, 'Price':priceList, 'Gender':genderList})

In [46]:
df.sort_values(by = 'Title', inplace=True)

In [48]:
df['In_stock'] = df['Stock'].apply(lambda x: 1 if x > 0 else 0)

In [49]:
df

,Title,Stock,Price,Gender,In_stock
43,#HigherSelfie: Wake Up Your Life. Free Your So...,17,23,Nonfiction,1
0,A Light in the Attic,22,51,Poetry,1
27,Aladdin and His Wonderful Lamp,19,53,Default,1
26,America's Cradle of Quarterbacks: Western Penn...,19,22,Default,1
38,Behind Closed Doors,18,52,Thriller,1
...,...,...,...,...,...
45,When We Collided,16,31,Contemporary,1
44,Without Borders (Wanderlove #1),16,45,New Adult,1
28,Worlds Elsewhere: Journeys Around Shakespeare’...,18,40,Nonfiction,1
39,You can't bury them all: Poems,17,33,Poetry,1
86,orange: The Complete Collection 1 (orange: The...,16,48,Sequential Art,1